/**
 * @file
 * Specific styles for action links.
 *
 * @see action-link.html.twig.
 * @see action-link-popup-message.html.twig.
 */
.action-link {
  position: relative;
}

.action-link-ajax-message {
  position: absolute;
  width: max-content;
  font-size: .8em;
  left: 0;
  top: 1.7em;
  padding: 0.25em 0.5em;
  border: 1px solid;
  background: white;
  z-index: 1;
}

.action-link-ajax-message-success {
  animation: action-link-message-success 3s ease-in-out 1;
}

@keyframes action-link-message-success {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Show a failure message for longer as there might be more text to read. */
.action-link-ajax-message-failure {
  animation: action-link-message-failure 10s ease-in-out 1;
}

@keyframes action-link-message-failure {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
